<form action="~/Products/Index" class="navbar-form navbar-left" role="search">
    <div class="form-group">
        <select class="search-categories-list" name="category">
            <option>All</option>   
            @foreach (SelectListItem i in ViewBag.CategoryID)
            {
                <option>@i.Text.ToString()</option>
            }
        </select>
        <input id="searchbar" class="form-control search-bar" size="600" placeholder="Search" type="text" name="request">
        <input  type="hidden" name="pageNumber" value="1">
        <input type="image" src="~/Content/Images/Magnifying_glass_icon.svg" class="btn btn-search" />      
        <script>
            $("#searchbar").autocomplete({
                source: '@Url.Action("GetProductsNames", "Products")'
            });

            $.ajax({
                type: "POST",
                url: "/Products/GetProductsNames",
                data: val,
                datatype: "html",
                success: function (data) {
                    alert('success');
                    $('#ajaxResult').html(data);
                }
            });
        </script>
    </div>
</form>



