@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Best sellers</h1>
    <div class="products-container">
        <div class="product-container">
            <div class="image-container">
                <input type="image" src="~/Content/Images/samsung.galaxy.s5.white.jpg" alt="Samsung Galaxy S5" class="product-image" />
            </div>
            <p class="product-name">Samsung Galaxy S5 16GB - White</p>
        </div>
        <div class="product-container">
            <div class="image-container">
                <input type="image" src="~/Content/Images/sennheiser.hd.201.jpg" alt="Sennheiser HD 201" class="product-image" />
            </div>
            <p class="product-name" style="margin-left: 5px;">Sennheiser HD 201</p>
        </div>
        <div class="product-container">
            <div class="image-container">
                <input type="image" src="~/Content/Images/master.of.the.universe.t-shirt.jpg" alt="Master of the Universe T-Shirt" class="product-image" />
            </div>
            <p class="product-name" style="margin-left: 5px;">Master of the Universe T-Shirt</p>
        </div>
        <div class="product-container">
            <div class="image-container">
                <input type="image" src="~/Content/Images/skeleton.skull.tea.spoon.jpg" alt="Skeleton Skull Tea Spoon" class="product-image" />
            </div>
            <p class="product-name" style="margin-left: 5px;">Skeleton Skull Tea Spoon</p>
        </div>
        <div class="product-container">
            <div class="image-container">
                <input type="image" src="~/Content/Images/santa.toilet.seat.cover.and.rug.set.jpg" alt="Santa toilet seat cover and rug set" class="product-image" />
            </div>
            <p class="product-name" style="margin-left: 5px;">Santa toilet seat cover and rug set</p>
        </div>
    </div>
</div>

<div class="jumbotron">
    <h2>Recently viewed</h2>
    <div class="products-container">
        <div class="product-container">
            <div class="image-container">
                <input type="image" src="~/Content/Images/q-tips.box.jpg" alt="Q-tips Box" class="product-image" />
            </div>
            <p class="product-name">Q-tips Box</p>
        </div>
        <div class="product-container">
            <div class="image-container">
                <input type="image" src="~/Content/Images/torontoo.dragon.rythem.ocarina.jpg" alt="Torontoo Dragon Rythem Ocarina" class="product-image" />
            </div>
            <p class="product-name" style="margin-left: 5px;">Torontoo Dragon Rythem Ocarina</p>
        </div>
        <div class="product-container">
            <div class="image-container">
                <input type="image" src="~/Content/Images/eureka.hand-held.vacuum.jpg" alt="Eureka Hand-held Vacuum" class="product-image" />
            </div>
            <p class="product-name" style="margin-left: 5px;">Eureka Hand-held Vacuum</p>
        </div>
        <div class="product-container">
            <div class="image-container">
                <input type="image" src="~/Content/Images/sennheiser.hd.201.jpg" alt="Sennheiser HD 201" class="product-image" />
            </div>
            <p class="product-name" style="margin-left: 5px;">Sennheiser HD 201</p>
        </div>
        <div class="product-container">
            <div class="image-container">
                <input type="image" src="~/Content/Images/santa.toilet.seat.cover.and.rug.set.jpg" alt="Santa toilet seat cover and rug set" class="product-image" />
            </div>
            <p class="product-name" style="margin-left: 5px;">Santa toilet seat cover and rug set</p>
        </div>
    </div>
</div>