@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Best sellers</h1>
    <div class="products-container">
        <div class="product-container">
            <div class="image-container">
                <input type="image" src="~/Content/Images/samsung.galaxy.s5.white.jpg" alt="Samsung Galaxy S5" class="product-image" />
            </div>
            <p class="product-name">Samsung Galaxy S5 16GB - White</p>
        </div>
        <div class="product-container">
            <div class="image-container">
                <input type="image" src="~/Content/Images/sennheiser.hd.201.jpg" alt="Sennheiser HD 201" class="product-image" />
            </div>
            <p class="product-name" style="margin-left: 5px;">Sennheiser HD 201</p>
        </div>
        <div class="product-container">
            <div class="image-container">
                <input type="image" src="~/Content/Images/master.of.the.universe.t-shirt.jpg" alt="Master of the Universe T-Shirt" class="product-image" />
            </div>
            <p class="product-name" style="margin-left: 5px;">Master of the Universe T-Shirt</p>
        </div>
        <div class="product-container">
            <div class="image-container">
                <input type="image" src="~/Content/Images/skeleton.skull.tea.spoon.jpg" alt="Skeleton Skull Tea Spoon" class="product-image" />
            </div>
            <p class="product-name" style="margin-left: 5px;">Skeleton Skull Tea Spoon</p>
        </div>
        <div class="product-container">
            <div class="image-container">
                <input type="image" src="~/Content/Images/santa.toilet.seat.cover.and.rug.set.jpg" alt="Santa toilet seat cover and rug set" class="product-image" />
            </div>
            <p class="product-name" style="margin-left: 5px;">Santa toilet seat cover and rug set</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>